<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38953685795-hclinendhaosm5dtig5l7jg2f67t06o6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38953685795-hclinendhaosm5dtig5l7jg2f67t06o6</string>
	<key>API_KEY</key>
	<string>AIzaSyDSHF7INjRtfKe8ks-0LfIyecmk_4X7ZNA</string>
	<key>GCM_SENDER_ID</key>
	<string>38953685795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raduliano.InstagramRemake</string>
	<key>PROJECT_ID</key>
	<string>instagramremake-2bb7d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramremake-2bb7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38953685795:ios:7397ce5e1c32b2265b3296</string>
</dict>
</plist>